body {
    background-color: #2b2b2b;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.butt-cont {
    display: grid;
    grid-template-columns: repeat(2, 180px);
    gap: 30px;
}

.button-fill {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 45px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    outline: 2px solid #fff;
    font-size: 0.9em;
    position: relative;
    transition: 0.3s;
    border-radius: 4px;
}
.button-fill::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #5549F1;
    z-index: -1;
    transition: 0.3s;
}

.fill-left::after {
    transform: scaleX(0);
    transform-origin: left;
}
.fill-right::after {
    transform: scaleX(0);
    transform-origin: right;
}
.fill-top::after {
    transform: scaleY(0);
    transform-origin: top;
}
.fill-bottom::after {
    transform: scaleY(0);
    transform-origin: bottom;
}

.button-fill:hover {
    outline: 2px solid rgb(85, 73, 241);
}
.button-fill:hover::after {
    transform: scale(1, 1);
}

@media only screen and (max-width: 830px) {

    .butt-cont {
        grid-template-columns: repeat(1, 180px);
    }

}